.w {
    width: 1200px;
    margin: 0 auto;
}

.style_red {
    color: #c81523;
}

header {
    position: relative;
    height: 84px;
    border-bottom: 2px solid #c81523;
}

.logo {
    position: absolute;
    top: 15px;
    width: 171px;
    height: 61px;
}

.logo a {
    display: block;
    height: 61px;
    width: 171px;
    background: url(../images/icons.png) -372px -12px no-repeat;
}

/* 注册页主体 */
.registerarea {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.registerarea h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 400;
}

.registerarea h3 .login {
    float: right;
    font-size: 10px;
}

.reg_form {
    width: 600px;
    margin: 50px auto 0;
}

.reg_form ul li {
    margin-bottom: 20px;
}

.reg_form ul li label {
    display: inline-block;
    width: 80px;
    text-align: right;
}

.reg_form ul li input[type='text'] {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}

.error {
    color: #c81523;
}

.error_icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../images/error.png) no-repeat;
    margin-top: -2px;
}

.success {
    color: green;
}

.success_icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../images/success.png) no-repeat;
    margin-top: -2px;
}

.safe {
    padding-left: 156px;
}

.safe p {
    display: inline-block;
    font-size:12px;
    color: #ccc;
}

.safe em {
    padding: 0 12px;
    color: white;
}

.safe em:nth-of-type(1) {
    border-radius: 10px 0 0 10px;
    background-color: #c81523;
}

.safe em:nth-of-type(2) {
    background-color: yellow;
}

.safe em:nth-of-type(3) {
    border-radius: 0 10px 10px 0;
    background-color: #0af735;
}

.agree {
    padding-left: 95px;
}

.agree input {
    vertical-align: middle;
    margin-top: -2px;
}

.agree a{
   color: skyblue;
}

.btn {
    width: 200px;
    height: 34px;
    background-color: #c81523;
    font-size: 14px;
    color: #fff;
    margin: 30px 0 0 100px;
    
}

.mod_copyright {
    text-align: center;
    padding-top: 20px;   
}

.mod_copyright .links {
    padding-bottom: 15px;
}

.mod_copyright .copyright {
    line-height: 20px;
}